<%# <body class="new" style="background-image:url(http://mr-sweeneytodd.com/wp-content/uploads/2016/04/33.jpg)"> %>
<h1>Catch A Fade</h1>
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>
<%# </body> %>