<p id="notice"><%= notice%></p>

<% if current_user.admin %>
    <h1>Your upcoming fade's</h1>
<% else %>
    <h1>Booked Fades</h1>
<% end %>
<table class="apt">
    <thead>
    </thead>
    <tbody>
        <% @appointments.each do |appointment| %>
            <tr>
                <td><%= appointment.details %></td>
                <td><%= appointment.date %></td>
                <td><%= appointment.time %></td>
                <td><%= link_to 'View', appointment %></td>
                <td><%= link_to 'Reschedule', edit_appointment_path(appointment) %></td>
                <td><%= link_to 'Cancel', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<h4><%= link_to 'Book a Fade', new_appointment_path %></h4>
