<h1>New Appointment</h1>

<%# <%= render 'form', appointment: @appointment %> 

<%# <%= link_to 'form', appointments_path %> 

<%# write a form. to add a new appointment. all strings. POST request. use form_for %>

<%= form_for @appointment do |f| %>
  <div>
    <%= f.label :time %>
    <%= f.select :time, options_for_select([['1pm','1pm'],['2pm','2pm'],['3pm','3pm'],['4pm','4pm'],['5pm','5pm'],['6pm','6pm'],['7pm','7pm'],['8pm','8pm']])%>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <%= f.submit "Add New Appointment!" %>
<% end %>

<%= link_to "Back to the list!", appointments_path %>