<%# <body class="index" style="background-image:url(http://mr-sweeneytodd.com/wp-content/uploads/2014/11/22.jpg)"> %>

<h1>New Appointment</h1>
<div class="column">
  <%= form_for @appointment do |f| %>
    <div>
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>
    <div>
      <%= f.label :details %>
      <%= f.text_field :details %>
    </div>
    <div>
      <%= f.label :time %>
      <%= f.select :time, options_for_select([['1pm','1pm'],['2pm','2pm'],['3pm','3pm'],['4pm','4pm'],['5pm','5pm'],['6pm','6pm'],['7pm','7pm'],['8pm','8pm']])%>
    </div>
    <div class="submit">
      <%= f.submit "Add New Appointment!" %>
    </div>
  <div class="back">
    <%= link_to "Back to the list!", appointments_path %>
  </div>
  <% end %>
</div>
<%# </body> %>