<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @appointment.details %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Create', new_appointment_path(@appointment) %> |
<%= link_to 'Back', appointment_path %>
