<%# <body class="index" style="background-image:url(http://mr-sweeneytodd.com/wp-content/uploads/2014/11/22.jpg)"> %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Your Fade details: </strong>
  <%= @appointment.details %> on
  <%= @appointment.date %> at 
  <%= @appointment.time %> 
</p>
<div>
    <p class="links"><%= link_to 'Home', appointments_path %></p>
    <p class="links"><%= link_to 'Reschedule', edit_appointment_path(@appointment) %></p>
</div>
<%# </body> %>